<div class="footer-container">
  <div class="container">
    <div class="grid-item">
    <div class="grid-item-first">
      <img class="image-width" src="../../../../assets/images/logo/cdcl-logo.png">
      <p>Etiam consequat sem ullamcorper, euismod<br>
        metus sit amet, tristique justo. Vestibulum<br>
        mattis, nisi ut.</p>
      <ul>
        <li><a><span class="queeny_fa5_icons fab fa-twitter"></span></a></li>
        <li><a><span class="queeny_fa5_icons fab fa-facebook-f"></span></a></li>
        <li><a><span class="queeny_fa5_icons fab fa-instagram"></span></a></li>
        <li><a><span class="queeny_fa5_icons fab fa-youtube"></span></a></li>
      </ul>
    </div>
    <div class="grid-item-second">
      <h3>Contact Info</h3>
      <hr>
      <ul>
        <li>
          <a><span class="lte-ic kaffa_fa5_icons fas fa-map-marker-alt"></span>
            <span class="lte-header">Our location:</span>
            <p class="lte-txt">Rio de Janeiro, RJ Brazil, 04103 Route</p>
          </a>
        </li>
        <br><br>
        <li>
          <a><span class="lte-ic kaffa_fa5_icons fas fa-phone-volume"></span>
            <span class="lte-header">Phones:</span>
            <p class="lte-txt">+49078-039-23-11</p>
            <p class="lte-txt mg">+49078-028-55-60</p>
          </a>
        </li>
      </ul>
    </div>

    <div class="grid-item-third">
      <h3>Subscribe</h3>
      <hr>
      <form class="form-main">
        <div class="overflow-item">
          <input name="EMAIL" placeholder="Your email ..." required="" type="email">
          <button class="btn" type="submit">Subscribe</button>
        </div>
        <div class="check-box">
          <input name="" type="checkbox">
          <label class="leb-name">I have read and agree to the terms &amp;conditions</label>
        </div>
      </form>
    </div>
  </div>
  <div class="lower-footer">
    <hr>
    <p><a>Like-themes</a> © All Rights Reserved - 2020 - <a>Purchase</a></p>
  </div>
  </div>
</div>
