.cat-card-img-div {
  img {
    width: 185%;
    height: 100%;
  }
}
@media screen and (max-width: 375px) {
  .cat-card-img-div {
    img {
      width: 185%;
      height: 100%;
    }
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .cat-card-img-div {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
@media (min-width: 376px) and (max-width: 600px) {
  .cat-card-img-div {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

